@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Qwigley&display=swap");

.header {
  background-color: chocolate;
  color: white;
  display: flex;
  align-items: center;
  height: 8vh;
  padding-left: 2rem;
}

.header h1 {
  font-size: 3rem;
  font-family: "Qwigley", cursive;
  letter-spacing: 0.3ch;
}
