@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Qwigley&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.tab-container {
  display: flex;
  gap: 2rem;
}

.projects-container {
  background-color: rgba(243, 136, 59, 0.2);
  min-width: 400px;
  height: 92vh;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 88%;
  overflow-y: auto;
  margin-bottom: 3rem;
  padding-right: 0.5rem;
}

.projects-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  height: 5%;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba(243, 136, 59, 0.25);
  }

  h4 {
    font-weight: 400;
    text-transform: capitalize;
  }

  button {
    border: none;
    background-color: transparent;
    color: red;
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.projects-button {
  background-color: rgba(243, 136, 59, 0.25);
  border: none;
  padding: 0.5rem;
  font-size: 1.15rem;
  border-radius: 0.5rem;
  transition: background-color 200ms ease-in-out;
  height: 7%;
  cursor: pointer;
  &:hover {
    background-color: rgba(243, 136, 59, 0.4);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 600px;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

.add-project-container,
.add-todo-container {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }

  input,
  textarea,
  select {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }
  .button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    button {
      font-size: 1rem;
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem;
      background-color: rgba(243, 136, 59, 0.25);
      cursor: pointer;
    }
    button:nth-child(2) {
      background-color: rgb(243, 29, 1);
      color: white;
    }
  }
}

.delete-project-container {
  h4 {
    font-size: 1.25rem;
  }
  .button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    button {
      font-size: 1rem;
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem;
      background-color: rgba(243, 136, 59, 0.25);
      cursor: pointer;
    }
    button:first-child {
      background-color: rgb(243, 29, 1);
      color: white;
    }
  }
}

.project-container {
  margin-top: 2rem;
  order: 2;
  width: 100%;
}

.project-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 2rem;
  font-size: 2rem;

  h3 {
    text-transform: capitalize;
  }

  button {
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgba(243, 136, 59, 0.25);
    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: rgba(243, 136, 59, 0.4);
    }
  }
}

.todos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.todo {
  border: 1px solid rgba(243, 136, 59, 0.4);
  border-radius: 0.7rem;
  padding: 1rem;
  text-transform: capitalize;

  div {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-size: 0.9rem;
    line-height: 0.85;
    margin-bottom: 0.2rem;

    :nth-child(2) {
      font-size: 1.2rem;
    }
  }

  h4 {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.todo:last-child {
  font-size: 1.12rem;
}
