@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Qwigley&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.projects-container {
  background-color: rgba(243, 136, 59, 0.2);
  width: 400px;
  height: 92vh;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 88%;
  overflow-y: auto;
  margin-bottom: 3rem;
  padding-right: 0.5rem;
}

.projects-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  height: 5%;
}

.project {
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba(243, 136, 59, 0.25);
  }
}

.project h4 {
  font-weight: 400;
  text-transform: capitalize;
}

.projects-button {
  background-color: rgba(243, 136, 59, 0.25);
  border: none;
  padding: 0.5rem;
  font-size: 1.15rem;
  border-radius: 0.5rem;
  transition: background-color 200ms ease-in-out;
  height: 7%;
  cursor: pointer;
  &:hover {
    background-color: rgba(243, 136, 59, 0.4);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
